/* ---------------------- Zen Folders Styling ---------------------- */

/* Default group background */
.tab-group-label-container::before {
  background-color: light-dark(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)) !important;
  box-shadow: 0 0px 3px transparent !important;
  border-radius: var(--nebula-border-radius) !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
}

/* Hover effect */
.tab-group-label-container:hover::before {
  background-color: var(--nebula-color-hover) !important;
  box-shadow: 0 0px 3px light-dark(rgba(255, 255, 255, 0.055), rgba(0, 0, 0, 0.55)) !important;
}
